<p *ngIf="id >0 ">Você esta editando o id {{id}}</p>
<p *ngIf="id < 0 ">Você esta inserindo um novo cadastro</p>

<div class="container">

  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="name" name="name" ngModel required placeholder="João da Silva">
      <label for="name">Nome</label>
    </div>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" ngModel  required placeholder="18/06/2000">
      <label for="dateOfBirth">Data de Nascimento</label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" name="email"
        placeholder="name@example.com" #email="ngModel" ngModel required email>

        <span class="text-danger" *ngIf="(email.touched || myForm.submitted) && email.errors?.['required']">
           Email is required
        </span>
        <span class="text-danger" *ngIf="email.touched && email.errors?.['email']">
          Enter a valid email address
       </span>

      <label for="email">Email address</label>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>
